<div class="col-md-8">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= form_for([@business, @review]) do |f| %>
          <% if @review.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
              <ul>
              <% @review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :Rating %><br>
            <div id="star-rating"></div><p id="hint" type="text"></p>
          </div>
          <div class="form-group">
            <%= f.label :comment %><br>
            <%= f.text_area :comment, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :price %><br>
            <%= f.number_field :price, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Create Review", class: "btn btn-danger" %>
            <%= link_to "Cancel", @business, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#star-rating').raty({ 
    path: '/assets',
    scoreName: 'review[rating]',
    target: '#hint',
    hints: ["Eek! Methinks not.", "Meh. I've experienced better.", "A-OK", "Yay! I'm a fan.", "Woohoo! As good as it gets!"],
    targetKeep: true,
    cancel: true
  });
</script>
